@model IEnumerable<projectShop.Models.Category>

@{
    ViewBag.Title = "ViewBrands";
}

 <!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Kategorier</h3>
    </div>
</div>



<div class="row text-center">

    @foreach (var item in Model)
    {

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="@Url.Content("~/Images/brand/category/" + item.category_image)" />

                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.category_name)</h3>



                    @*<p>@Html.DisplayFor(modelItem => item.product_description)</p>*@
                    <p>
                        @Html.ActionLink("Se produkter", "Produkt", new { id = item.subcategory_id }, new { @class = "btn btn-default" })

                        @*<a href="#" class="btn btn-default">Se produkt</a>*@


                    </p>
                </div>
            </div>
        </div>

    }





</div>
